<Component name="StateCPart_TestBindAndPropagation">
    <Template>
        {% if state.testdot %}
            {# TODO Once key= syntax settles, replace with this for forced replace #}
            <p>
                <input [state.bind] name="obj2.prop2" />
            </p>
        {% elif state.testisolated %}
            <main>
                <input [state.bind] name="tststring" />
                <input [state.bind] name="obj3.prop1" />
                <input [state.bind] name="obj3.prop2" />
                <input [state.bind] name="obj3.prop3" />
            </main>
        {% elif state.testmulti %}
            <aside>
                <input [state.bind] name="tststring" />
                <input [state.bind] name="tststring" />
                <input [state.bind] name="tststring" />
            </aside>
        {% else %}
            <div>
                <input [state.bind] name="tststring" />
            </div>
        {% endif %}
    </Template>

    <State
        testdot:=false
        testisolated:=false
        testmulti:=false
        tststring="abc"
        obj:={}
        obj.prop:=15
        obj2:={}
        obj2.prop2:='"def"'
        obj3:='{}'
        obj3.prop1:='"A"'
        obj3.prop2:='"B"'
        obj3.prop3:='"C"'
    ></State>

    <TestSuite>

        <Test name="Testing state default values">
            <script name="Basic state works">
                assert: state.tststring === 'abc'
            </script>

            <script name="State dataProps work (1)">
                const expected = JSON.stringify({ prop: 15 });
                const actual = JSON.stringify(state.obj);
                assert: actual === expected
            </script>

            <script name="State dataProps work (2)">
                // Checking string
                const expected = JSON.stringify({ prop2: "def" });
                const actual = JSON.stringify(state.obj2);
                assert: actual === expected
            </script>

            <script name="State dataProps work (3)">
                // Checking multiple strings on one obj
                const expected = JSON.stringify({ prop1: "A", prop2: "B", prop3: "C" });
                const actual = JSON.stringify(state.obj3);
                assert: actual === expected
            </script>
        </Test>


        <Test name="Testing propagate method & state form binding">
            <template name="Initial value worked" test-values>
                <div><input [state.bind] name="tststring" value="abc" /></div>
            </template>

            <script name="Set can set values">
                element.cparts.state.propagate('tststring', 'ok');
                assert: state.tststring === 'ok'
            </script>

            <template name="And reflected in DOM" test-values>
                <div><input [state.bind] name="tststring" value="ok" /></div>
            </template>
        </Test>

        <Test name="Testing dot syntax propagate method & state form binding">
            <state
                testdot:=true
            ></state>

            <template name="Initial value worked" test-values>
                <p><input [state.bind] name="obj2.prop2" value="def" /></p>
            </template>

            <script name="Propagate method can use nested values">
                element.cparts.state.propagate('obj2.prop2', 'ok');
                assert: state.obj2.prop2 === 'ok'
            </script>

            <template name="And reflected in DOM" test-values>
                <p><input [state.bind] name="obj2.prop2" value="ok" /></p>
            </template>
        </Test>


        <Test name="Testing isolation of state binding">
            <state
                testdot:=false
                testisolated:=true
            ></state>

            <template name="Initial value worked" test-values>
                <main>
                    <input [state.bind] name="tststring" value="abc" />
                    <input [state.bind] name="obj3.prop1" value="A" />
                    <input [state.bind] name="obj3.prop2" value="B" />
                    <input [state.bind] name="obj3.prop3" value="C" />
                </main>
            </template>

            <script name="Propagate method can do single nested values">
                element.cparts.state.propagate('obj3.prop2', 'ok');
                assert: state.obj3.prop2 === 'ok'
            </script>

            <template name="And reflected in DOM" test-values>
                <main>
                    <input [state.bind] name="tststring" value="abc" />
                    <input [state.bind] name="obj3.prop1" value="A" />
                    <input [state.bind] name="obj3.prop2" value="ok" />
                    <input [state.bind] name="obj3.prop3" value="C" />
                </main>
            </template>

            <script name="Propagate method can do non-nested values">
                element.cparts.state.propagate('tststring', 'ok2');
                assert: state.tststring === 'ok2'
            </script>

            <template name="And non-nested reflected in DOM" test-values>
                <main>
                    <input [state.bind] name="tststring" value="ok2" />
                    <input [state.bind] name="obj3.prop1" value="A" />
                    <input [state.bind] name="obj3.prop2" value="ok" />
                    <input [state.bind] name="obj3.prop3" value="C" />
                </main>
            </template>
        </Test>


        <Test name="Testing multiple state bindings">
            <state
                testdot:=false
                testisolated:=false
                testmulti:=true
            ></state>

            <template name="Initial value worked" test-values>
                <aside>
                    <input [state.bind] name="tststring" value="abc" />
                    <input [state.bind] name="tststring" value="abc" />
                    <input [state.bind] name="tststring" value="abc" />
                </aside>
            </template>

            <script name="Propagate method can do multi string value">
                element.cparts.state.propagate('tststring', 'ok3');
                assert: state.tststring === 'ok3'
            </script>

            <template name="And non-nested reflected in DOM" test-values>
                <aside>
                    <input [state.bind] name="tststring" value="ok3" />
                    <input [state.bind] name="tststring" value="ok3" />
                    <input [state.bind] name="tststring" value="ok3" />
                </aside>
            </template>

            <script name="Change event in single elem reflects in state">
                element.querySelector('input:first-child').value = 'ok4';
                const ev = new window.Event('keyup');
                element.querySelector('input:first-child').dispatchEvent(ev);
                assert: state.tststring === 'ok4'
            </script>

            <template name="And gets propagated in DOM" test-values>
                <aside>
                    <input [state.bind] name="tststring" value="ok4" />
                    <input [state.bind] name="tststring" value="ok4" />
                    <input [state.bind] name="tststring" value="ok4" />
                </aside>
            </template>

        </Test>

    </TestSuite>
</Component>

<Component name="StateCPart_TestBindMounting">
    <Template>
        {% if state.flaga %}
            <p> <input [state.bind]targeta /> </p>
        {% elif state.flagb %}
            <p> <input name="fakeb" [state.bind]targetb /> </p>
        {% elif state.flagc %}
            <p> <input name="fakec" [state.bind]targetc.abc /> </p>
        {% elif state.flagd %}
            <p> <input name="faked" [state.bind]targetd.def="click" /> </p>
        {% endif %}
    </Template>

    <State
        flaga:=true
        targeta="tA initial val"

        flagb:=true
        targetb="tB val"
        fakeb="tB fake"

        flagc:=true
        targetc:={}
        targetc.abc:=123
        fakec="tC fake"

        flagd:=true
        targetd:={}
        targetd.def:=456
        faked="tD fake"
    ></State>

    <TestSuite>
        <Test name="Test custom name binding worked">
            <template name="Initial value worked" test-values>
                <p> <input [state.bind]targeta value="tA initial val" /> </p>
            </template>

            <state flaga:=false></state>
            <template name="attrName takes precidence" test-values>
                <p> <input name="fakeb" [state.bind]targetb value="tB val" /> </p>
            </template>

            <state flagb:=false></state>
            <template name="attrName can use dot syntax" test-values>
                <p> <input name="fakec" [state.bind]targetc.abc value="123" /> </p>
            </template>

            <state flagc:=false></state>
            <template name="Ensure initial value is correct when combined with other events" test-values>
                <p> <input name="faked" [state.bind]targetd.def="click" value="456" /> </p>
            </template>

            <script name="Keyup event does not reflect">
                element.querySelector('input:first-child').value = 'newvalD';
                const ev = new window.Event('keyup');
                element.querySelector('input:first-child').dispatchEvent(ev);
                // Ensure the state is still the number
                assert: state.targetd.def === 456
            </script>

            <template name="Ensure initial value has changed" test-values>
                <p> <input name="faked" [state.bind]targetd.def="click" value="newvalD" /> </p>
            </template>

            <script name="Now ensure click event does reflect in state">
                element.querySelector('input:first-child').value = 'newest_valD';
                const ev = new window.Event('click');
                element.querySelector('input:first-child').dispatchEvent(ev);
                assert: state.targetd.def === 'newest_valD'
            </script>

        </Test>
    </TestSuite>

</Component>

<Component namespace="testhelper" name="StateCPart_TestStore_ViewerComponent">
    <Template>
        <p>({{ state.flagc }}) ({{ state.targeta }}) ({{ state.targetc }})</p>
    </Template>
    <State
        -store="testing_store"
    ></State>
    <Script>
        // Hack to escape encapsulation that the TestSuite enforces in order to
        // test state with store
        if (!window.__testHelperModulo) { window.__testHelperModulo = modulo; }
        function prepareCallback() {
            if (window.__testHelperModulo) {
                Object.assign(element.cparts.state, window.__testHelperModulo.stores.testing_store);
                element.cparts.state.prepareCallback = () => element.cparts.state.data;
            }
        }
    </Script>
</Component>


<Component namespace="testhelper" name="StateCPart_TestStore_SetterComponent">
    <Template>
        <input [state.bind] name="targetc" />
    </Template>
    <State
        -store="testing_store"
    ></State>
    <Script>
        // Hack to escape encapsulation that the TestSuite enforces in order to
        // test state with store
        if (!window.__testHelperModulo) { window.__testHelperModulo = modulo; }
        function prepareCallback() {
            if (window.__testHelperModulo) {
                Object.assign(element.cparts.state, window.__testHelperModulo.stores.testing_store);
                element.cparts.state.prepareCallback = () => element.cparts.state.data;
            }
        }
    </Script>
</Component>

<Component name="StateCPart_TestStore">
    <Template>
        {% if state.flaga %}
            <input [state.bind] name="targeta" />
            <input [state.bind] name="targeta" />
            <input [state.bind] name="targeta" />
        {% elif state.flagb %}
            <testhelper-StateCPart_TestStore_ViewerComponent></testhelper-StateCPart_TestStore_ViewerComponent>
        {% elif state.flagc %}
            <testhelper-StateCPart_TestStore_ViewerComponent></testhelper-StateCPart_TestStore_ViewerComponent>
            <testhelper-StateCPart_TestStore_SetterComponent></testhelper-StateCPart_TestStore_SetterComponent>
        {% endif %}
    </Template>

    <State
        -store="testing_store"
        flaga:=false
        targeta="tA initial val"
        flagb:=false
        flagc:=false
        targetc="tCinit"
    ></State>

    <Script>
        // Hack to escape encapsulation that the TestSuite enforces in order to
        // test state with store
        function prepareCallback() {
            if (window.__testHelperModulo) {
                Object.assign(element.cparts.state, window.__testHelperModulo.stores.testing_store);
                element.cparts.state.prepareCallback = () => element.cparts.state.data;
            }
        }
    </Script>

    <TestSuite>
        <Test name="Store works with multiple binding">
            <state flaga:=true></state>
            <template name="Initial value worked" test-values>
                <input [state.bind] name="targeta" value="tA initial val" />
                <input [state.bind] name="targeta" value="tA initial val" />
                <input [state.bind] name="targeta" value="tA initial val" />
            </template>

            <state flaga:=false flagb:=true></state>
            <template name="Rendering default values of other component worked">
                <testhelper-StateCPart_TestStore_ViewerComponent>
                    <p>(false) (tA initial val) (tCinit)</p>
                </testhelper-StateCPart_TestStore_ViewerComponent>
            </template>

            <state flaga:=true flagb:=false></state>
            <script name="Change event in single elem reflects in state">
                element.querySelector('input:first-child').value = 'newValA';
                const ev = new window.Event('keyup');
                element.querySelector('input:first-child').dispatchEvent(ev);
                assert: state.targeta === 'newValA'
            </script>

            <template name="The change shows in the element" test-values>
                <input [state.bind] name="targeta" value="newValA" />
                <input [state.bind] name="targeta" value="newValA" />
                <input [state.bind] name="targeta" value="newValA" />
            </template>

            <state flaga:=false flagb:=true></state>
            <template name="The change gets reflected in other components connected to same store">
                <testhelper-StateCPart_TestStore_ViewerComponent>
                    <p>(false) (newValA) (tCinit)</p>
                </testhelper-StateCPart_TestStore_ViewerComponent>
            </template>
        </Test>

        <Test name="Store triggers refresh of sibling">
            <!-- Ensure values are reset (due to breaking test encapsulation) -->
            <state
                flaga:=false
                targeta="tA initial val"
                flagb:=false
                flagc:=true
                targetc="tCinit"
            ></state>

            <template name="Initial values were set accross components" test-values>
                <testhelper-StateCPart_TestStore_ViewerComponent>
                    <p>(true) (tA initial val) (tCinit)</p>
                </testhelper-StateCPart_TestStore_ViewerComponent>
                <testhelper-StateCPart_TestStore_SetterComponent>
                    <input [state.bind] name="targetc" value="tCinit" />
                </testhelper-StateCPart_TestStore_SetterComponent>
            </template>

            <script name="Change event in sibling affects state" skip-rerender>
                const elem = element.querySelector('testhelper-StateCPart_TestStore_SetterComponent input');
                elem.value = 'NewValC';
                elem.dispatchEvent(new window.Event('keyup'));
                assert: state.targetc === 'NewValC'
            </script>

            <template name="And the change gets automatically rerendered" skip-rerender test-values>
                <testhelper-StateCPart_TestStore_ViewerComponent>
                    <p>(true) (tA initial val) (NewValC)</p>
                </testhelper-StateCPart_TestStore_ViewerComponent>
                <testhelper-StateCPart_TestStore_SetterComponent>
                    <input [state.bind] name="targetc" value="NewValC" />
                </testhelper-StateCPart_TestStore_SetterComponent>
            </template>
        </Test>
    </TestSuite>
</Component>


<Component name="StateCPart_TestTypes">
    <Template>
        {% if state.testnumber %}
            <p>
                <input [state.bind] name="anum" type="number" />
                <input [state.bind] name="bnum" type="range" min="-100" max="100" step="0.1" />
                Result: {{ state.anum|add:state.bnum }}
            </p>
        {% elif state.testbool %}
            <aside>
                <input [state.bind] name="abool" type="checkbox" />
                {% if state.abool %}truthy{% endif %}
                {% if not state.abool %}falsy{% endif %}
            </aside>
        {% endif %}
    </Template>

    <State
        testnumber:=false
        testbool:=false
        anum:=10
        bnum:=33
        abool:=true
    ></State>

    <TestSuite>

        <Test name="Testing Number types (number and range)">
            <state
                testnumber:=true
            ></state>

            <template name="Initial value worked" test-values>
                <p>
                    <input [state.bind] name="anum" type="number" value="10" />
                    <input [state.bind] name="bnum" type="range"  value="33" min="-100" max="100" step="0.1" />
                    Result: 43
                </p>
            </template>

            <script name="Propagate method allows setting of other types from string">
                element.cparts.state.propagate('anum', 50);
                element.cparts.state.propagate('bnum', -29.5);
                const { anum, bnum } = state;
                assert: anum === 50 && bnum === -29.5
            </script>

            <template name="And reflected in DOM" test-values>
                <p>
                    <input [state.bind] name="anum" type="number" value="50" />
                    <input [state.bind] name="bnum" type="range"  value="-29.5" min="-100" max="100" step="0.1" />
                    Result: 20.5
                </p>
            </template>

            <script name="Propagate method does conversion when triggered from DOM">
                const inputANum = element.querySelector('[name=anum]');
                const inputBNum = element.querySelector('[name=bnum]');
                element.cparts.state.propagate('anum', "55", inputANum);
                element.cparts.state.propagate('bnum', "-10.5", inputBNum);
                const { anum, bnum } = state;
                assert: anum === 55 && bnum === -10.5
            </script>

            <template name="And ensure conversion is in DOM, but old values are still present (no back prop)" test-values>
                <p>
                    <input [state.bind] name="anum" type="number" value="50" />
                    <input [state.bind] name="bnum" type="range"  value="-29.5" min="-100" max="100" step="0.1" />
                    Result: 44.5
                </p>
            </template>
        </Test>


        <Test name="Testing Boolean types (checkbox)">
            <state
                testbool:=true
            ></state>

            <template name="Initial value worked" test-values>
                <aside>
                    <input [state.bind] name="abool" type="checkbox" checked="checked" />
                    truthy
                </aside>
            </template>

            <script name="Propagate method allows setting of other types from string">
                element.cparts.state.propagate('abool', false);
                const { abool } = state;
                assert: abool === false;
            </script>

            <template name="And checked reflected in dom" test-values>
                <aside>
                    <input [state.bind] name="abool" type="checkbox" />
                    falsy
                </aside>
            </template>

            <script name="Propagate method does bool conversion when triggered from DOM (1)">
                const inputABool = element.querySelector('[name=abool]');
                inputABool.checked = false;
                element.cparts.state.propagate('abool', 'NotImportant', inputABool);
                const { abool } = state;
                assert: abool === false
            </script>

            <script name="Propagate method does bool conversion when triggered from DOM (2)">
                const inputABool = element.querySelector('[name=abool]');
                inputABool.checked = true;
                element.cparts.state.propagate('abool', 'NotImportant', inputABool);
                const { abool } = state;
                assert: abool === true
            </script>

            <template name="And ensure bool conversion is in DOM" test-values>
                <aside>
                    <input [state.bind] name="abool" type="checkbox" checked="checked" />
                    truthy
                </aside>
            </template>
        </Test>

    </TestSuite>
</Component>

