<script Configuration -src="https://unpkg.com/ace-builds">
    modulo.register('util', function getEditor(elem) {
        //return {}; // XXX RM
        ace.config.set('basePath', 'https://unpkg.com/ace-builds/src-min-noconflict');
        return ace.edit(elem);
    });
</script>

<Component name="ModuloEditor">
    <Template>
        <div class="
                ModuloEditor
                layout--{{ state.layout }}
                theme--{{ state.colorScheme }}
                {% if state.showPreview %}
                    layout--showPreview
                {% endif %}
            ">
            <x-EditorSidebar></x-EditorSidebar>
            <x-FileEditor
                content="print('hello world')"
                name="example.py"
                mode="python"
            ></x-FileEditor>
            {% if state.showPreview %}
                <x-EditorPreview></x-EditorPreview>
            {% endif %}
        </div>
    </Template>

    <State
        -store="editor_options"
        layout="full"
        color-scheme="l-mintygoo"
        show-preview:=true
        auto-preview:=true
        simple-mode:=false
        profile="syntax"
        font-size:=18
        syntax-mode="twig"
        theme="eclipse"
        theme-dark="vibrant_ink"
        theme-light="eclipse"
    ></State>

    <State
        -store="editor_data"
    ></State>

    <Script>
        const urlParams = new URLSearchParams(window.location.search);
        function initializedCallback() {
            // TODO: Remove this, replace with Props, then just do a thin
            // wrapper on an HTML file to connect urlParams to Props (maybe
            // even a helper)
            if (urlParams.has('file')) {
                state.showPreview = true;
                state.simpleMode = true;
                state.src = urlParams.get('file');
            }
        }
    </Script>

    <Style
        -src="./editorlib/ModuloEditor.css"
    ></Style>
</Component>

<Component name="EditorPreview">
    <Template>
        <h3>preview</h3>
        {% if not optstate.autoPreview %}
            <div class="right-toolbar">
                <x-Btn @click:=script.refresh>⟳</x-Btn>
            </div>
        {% endif %}
        <div id="preview" [script.previewspot] modulo-ignore></div>
    </Template>

    <State
        -name="optstate"
        -store="editor_options"
    ></State>

    <State
        -name="datastate"
        -store="editor_data"
    ></State>

    <Script>
        function refresh () {
            if (element.iframe) {
                element.iframe.remove();
            }
            element.iframe = document.createElement('iframe');
            element.previewWrapper.appendChild(element.iframe);
            element.iframe.contentWindow.document.open();
            element.iframe.contentWindow.document.write(datastate.value);
            element.iframe.contentWindow.document.close();
        }

        function previewspotMount ({ el }) {
            element.previewWrapper = el;
            refresh();
        }

        function updateCallback() {
            if (element.previewWrapper && optstate.autoPreview) {
                refresh();
            }
        }
    </Script>

    <Style -src="./editorlib/FileEditor.css">
        .right-toolbar {
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            display: flex;
            background: white;
        }
        .right-toolbar  > div {
            height: 20px;
        }
        label {
            font-size: 10px;
        }
    </Style>
</Component>

<Component name="FileBrowser">
    <Template
        -src="./editorlib/FileBrowser.html"
    ></Template>

    <State
        files:=[]
        all-files:=[]
        chroot
    ></State>

    <Script
        -src="./editorlib/FileBrowser.js"
    ></Script>

    <Style
        -src="./editorlib/FileBrowser.css"
    ></Style>
</Component>

<Component name="EditorSidebar">
    <Template
        -src="./editorlib/EditorSidebar.html"
    ></Template>
    <State
        visible:=false
        tab:=null
        tabs:=[]
        boxes:=[]
    ></State>
    <State
        -name="optstate"
        -store="editor_options"
    ></State>
    <Script
        -src="./editorlib/EditorSidebar.js"
    ></Script>
    <Style
        -src="./editorlib/EditorSidebar.css"
    ></Style>
</Component>

<Component name="FileEditor" rerender="manual">
    <Props
        content
        url
        name
        path
        mode
    ></Props>

    <Template
        -src="./editorlib/FileEditor.html"
    ></Template>

    <State
        content=""
        loading:=true
        err:=null
    ></State>

    <State
        -name="datastate"
        -store="editor_data"
        value=""
    ></State>

    <State
        -name="optstate"
        -store="editor_options"
    ></State>

    <Script
        lifecycle="initialized"
        -src="./editorlib/FileEditor.js"
    ></Script>

    <Style
        -src="./editorlib/FileEditor.css"
    ></Style>
</Component>

<Component name="FileEditorSettings">
    <Props
        onchange
    ></Props>
    <Template>
        <h3>Syntax highlighting</h3>
        <x-Options [state.bind] name="syntaxMode"
            options:=staticdata.modes.options
        ></x-Options>
        <h3>Appearance</h3>
        <x-Options [state.bind] name="fontSize"
            options:=staticdata.editorFontSizes
        ></x-Options>
        <h4>Themes: Light</h4>
        <x-Options [state.bind] name="themeLight"
            options:=staticdata.editorThemesLight
        ></x-Options>
        <h4>Themes: Dark</h4>
        <x-Options [state.bind] name="themeDark"
            options:=staticdata.editorThemesDark
        ></x-Options>
    </Template>
    <State
        -store="editor_options"
    ></State>
    <StaticData
        -src="./editorlib/options.js"
    ></StaticData>
</Component>


<Component name="LayoutSettings">
    <Template>
        <h3>Preview</h3>
        <x-Checkbox [state.bind]
            name="showPreview"
            label="Show file preview"
        ></x-Checkbox>

        <x-Checkbox [state.bind]
            name="autoPreview"
            label="Automatically refresh on changes"
        ></x-Checkbox>

        <h3>Theme</h3>
        <x-Options [state.bind] name="colorScheme"
            options:=staticdata.colorSchemes
        ></x-Options>
        <h3>Layout</h3>
        <x-Options [state.bind] name="layout"
            value="{{ state.layout }}"
            options:=staticdata.layouts
        ></x-Options>
    </Template>
    <State
        -store="editor_options"
    ></State>
    <StaticData
        -src="./editorlib/options.js"
    ></StaticData>
</Component>

