:host {
    border: 3px solid black;
    display: block;
    width: 100%;
    position: relative;
    height: calc(100vh - 20px);
    box-shadow: var(--m-shadow-size) var(--m-shadow-size)  var(--m-shadow-spread) var(--m-shadow);
}

h3 {
    background: var(--m-black);
    color: var(--m-white);
    padding: 3px;
    padding-left: 50px;
    margin: 0;
    font-family: monospace;
    font-weight: lighter;
    margin-bottom: 0;
}
