:host {
    display: block;
    position: relative;
    min-height: 1rem;
    min-width: 1rem;

    /* Outline default is 50% gray, 90% opacity, so it should be
        passable for both "lightmode" and "darkmode" type designs */
    --outline-color: rgba(127, 127, 127, 0.9);
    --outline-width: 3px;
    --text-color: #151515;
}

.editor-wrapper {
    position: relative;
    height: 100%;
}

textarea {
    top: 0;
    left: 0;
    font-size: 16px;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    min-height: 1rem;
    height: 100%;
    font-family: monospace;
    text-align: start;
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    box-sizing: border-box;
    color: var(--text-color);
}

.editor-underlay-container {
    position: absolute;
    left: 0;
    overflow: hidden;
}

.editor-underlay-offset-wrapper {
    left: 0;
    position: absolute;
}

textarea {
    position: relative;
    background: none;
    /*color: rgba(0, 0, 0, 0.001);*/
    color: rgba(0, 0, 0, 0);
    caret-color: var(--text-color);
}

textarea:focus {
    outline: none !important;
    box-shadow: 0 0 0 var(--outline-width) var(--outline-color);
}

