/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }
.cm-s-eclipse span.cm-meta { color: #FF1717; }
.cm-s-eclipse span.cm-keyword { line-height: 1em; font-weight: bold; color: #7F0055; }
.cm-s-eclipse span.cm-atom { color: #219; }
.cm-s-eclipse span.cm-number { color: #164; }
.cm-s-eclipse span.cm-def { color: #00f; }
.cm-s-eclipse span.cm-variable { color: black; }
.cm-s-eclipse span.cm-variable-2 { color: #0000C0; }
.cm-s-eclipse span.cm-variable-3, .cm-s-eclipse span.cm-type { color: #0000C0; }
.cm-s-eclipse span.cm-property { color: black; }
.cm-s-eclipse span.cm-operator { color: black; }
.cm-s-eclipse span.cm-comment { color: #3F7F5F; }
.cm-s-eclipse span.cm-string { color: #2A00FF; }
.cm-s-eclipse span.cm-string-2 { color: #f50; }
.cm-s-eclipse span.cm-qualifier { color: #555; }
.cm-s-eclipse span.cm-builtin { color: #30a; }
.cm-s-eclipse span.cm-bracket { color: #cc7; }
.cm-s-eclipse span.cm-tag { color: #170; }
.cm-s-eclipse span.cm-attribute { color: #00c; }
.cm-s-eclipse span.cm-link { color: #219; }
.cm-s-eclipse span.cm-error { color: #f00; }

.cm-s-eclipse .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-eclipse .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }


x-DemoModal .modal-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
        }
x-DemoModal .modal-backdrop {
            background: rgba(0, 0, 0, 0.5);
            z-index: 11;
        }
x-DemoModal .modal-x-DemoModal {
            --w: 400px;
            width: var(--w);
            position: fixed;
            z-index: 12;
            left: calc(50vw - (var(--w) / 2));
            display: block;
            background: white;
            border: 7px solid black;
            border-radius: 7px;
            padding: 50px;
            transition: top 1s;
        }
x-DemoModal .modal-body > h2 {
            border-bottom: 3px solid black;
            color: black;
            background-color: #b90183;
            font-weight: bold;
            padding: 10px;
            border-top: 0;
            margin: -50px;
            margin-bottom: 50px;
            color: white;
            
            text-shadow:
                3px 3px 0 #000,
                2px 2px 0 #000,
              -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
        }
x-DemoModal .modal-body > h2 button {
            font-size: 25px;
            float: right;
            width: 50px;
        }

x-DemoModal button {
            font-size: 13px;
            font-weight: bold;
            padding: 5px;
            border-radius: 1px 5px 1px 7px;
            color: black;
            border: 1px solid grey;
            box-shadow: inset -2px -3px 1px 1px hsla(0,0%,39.2%,.3);
            cursor: default;
            margin-top: 0px;
            padding-bottom: 3px;
            background-color: white;
            margin-bottom: 4px;
            transition: margin 0.2s,
                        padding 0.2s,
                        background 0.3s,
                        box-shadow 0.2s;
        }
x-DemoModal button:active {
            box-shadow: inset 2px 3px 1px 1px hsla(0,0%,39.2%,.3);
            margin-top: 3px;
            padding-bottom: 0;
        }
x-DemoModal button:hover {
            background-color: rgba(162, 228, 184);
        }
    

x-DemoChart .chart-container {
            border: 1px solid black;
            height: 100px;
            width: 100px;
            display: flex;
            align-items: flex-end;
        }
x-DemoChart .chart-container > div {
            box-sizing: border-box;
            background-color: #b90183;
            background-color: white;
            border: 1px solid grey;
            width: 30px;
            border-radius: 1px 5px 1px 5px;
            box-shadow: inset -5px -5px 1px 1px hsla(0,0%,39.2%,.3);
            margin-top: -5px;
        }

x-DemoChart .chart-container.animated > div {
            transition: height calc(var(--speed, 10) * 0.1s) var(--easing, linear);
        }
x-DemoChart .chart-container > div:first-of-type {
            margin-left: -4px;
        }
x-DemoChart .chart-container > div:hover {
            background-color: #b90183;
        }
x-DemoChart label {
            display: inline-block;
        }
    

x-ExampleBtn .my-btn {
            display: inline-block;
            box-sizing: border-box;
            font-family: sans-serif;
            border: 1px solid gray;
            transition: 0.1s;
            box-shadow:
                inset -3px -3px
                1px 1px rgba(100, 100, 100, 0.3);
            border-radius: 1px 8px 1px 8px;
            cursor: default;
            text-align: center;
            padding: 3px;
            padding-right: 5px;
            padding-bottom: 5px;
            height: 30px;
            background: turquoise;
            font-weight: bold;
        }

x-ExampleBtn .my-btn:active {
            box-shadow: inset 3px 3px 1px 1px rgba(100, 100, 100, 0.3);
        }
x-ExampleBtn .my-btn__square {
            border-radius: 1px 8px 1px 8px;
        }
x-ExampleBtn .my-btn__round {
            border-radius: 150px;
        }
    

x-DemoSelector label {
            font-size: 13px;
            font-weight: bold;
            border-radius: 1px 5px 1px 5px;
            background:  #b90183;
            color: black;
            border: 1px solid grey;
            box-shadow: inset -5px -5px 1px 1px hsla(0,0%,39.2%,.3);
            cursor: default;
            margin-top: 0px;
            padding: 5px;
            background-color: white;
            margin-bottom: 4px;
            margin-left: 3px;
        }
x-DemoSelector input:checked + label {
            box-shadow: inset 5px 5px 1px 1px hsla(0,0%,39.2%,.3);
            margin-top: 5px;
        }
    
#mws_Page {
    --highlight-color: #B90183;
}

#mws_Page code {
  font-family: monospace;
  border-bottom: 1px dotted var(--highlight-color);
}

#mws_Page {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  
  overflow-y: scroll;
}

#mws_Page *,#mws_Page *:before,#mws_Page *:after {
  box-sizing: inherit;
}

#mws_Page ,#mws_Page h1,#mws_Page h2,#mws_Page h3,#mws_Page h4,#mws_Page h5,#mws_Page h6,#mws_Page p,#mws_Page ol,#mws_Page ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#mws_Page ol,#mws_Page ul {
  list-style: none;
}

#mws_Page img {
  max-width: 100%;
  height: auto;
}

#mws_Page .m-Btn,
#mws_Page .m-Btn:visited,
#mws_Page .m-Btn:active,
#mws_Page .m-Btn:hover {
    display: inline-block;
    border: 2px solid black;
    border-top-width: 1px;
    border-bottom-width: 3px;
    border-radius: 3px;
    background: white;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: black;
    padding: 5px;
    text-decoration: none;
    margin-top: 2px;
}

#mws_Page .m-Btn.m-Btn--sm,
#mws_Page .m-Btn.m-Btn--sm:hover {
    font-size: 0.95rem;
    border-bottom-width: 2px;
    padding: 2px;
}

#mws_Page .m-Btn--faded {
    opacity: 0.3;
    transition: opacity 0.2s;
}
#mws_Page .m-Btn--faded:hover {
    opacity: 1.0;
}

#mws_Page .m-Btn:active {
    border-top-width: 3px;
    border-bottom-width: 1px;
}

#mws_Page .m-Btn:hover {
    box-shadow: 0 0 2px var(--highlight-color); 
}

#mws_Page nav.Navbar {
    padding-top: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 8; 
    height: 100px;
}

#mws_Page nav.Navbar--docs {
  /*
  height: 50px;
  padding-top: 0;
  border-top: 1px dotted black;
  top: 100px !important;
  position: fixed !important;
  width: 100%;
  */
}

#mws_Page nav.Navbar ul {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#mws_Page nav.Navbar li {
    margin-left: 50px;
}

#mws_Page nav.Navbar li a {
    font-size: 30px;
    text-transform: uppercase;
    color: black;
}

#mws_Page nav.Navbar--subbar li a {
    text-transform: none;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    line-height: 0.9;
    text-align: left;
}

#mws_Page nav.Navbar li a.Navbar--selected {
    text-decoration: overline underline;
}

#mws_Page nav.Navbar--subbar li a.Navbar--selected {
    text-decoration: none;
    color: #B90183;
}

#mws_Page nav.Navbar .Navbar-rightInfo {
    font-size: 12px;
    text-align: left;
    margin-left: 40px;
    
    padding: 5px;
}

#mws_Page .Main {
    max-width: 820px;
    margin: auto;
    clear: both;
    box-sizing: border-box;
}

#mws_Page .Main--fluid {
    width: 98%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100vw;
}
#mws_Page section.SideBySide {
    display: flex;
}

#mws_Page section.SideBySide aside strong {
    color: #B90183;
}

#mws_Page section.SideBySide aside h3 {
    font-size: 30px;
}

#mws_Page section.SideBySide aside h3 span {
    font-size: 80px;
    font-weight: bold;
    color: #B90183;
}

#mws_Page section.SideBySide aside.TitleAside {
    text-align: right;
}
#mws_Page section.SideBySide aside.TitleAside a {
    font-size: 18px;
}


#mws_Page .TitleAside-navigation {
  position: sticky;
  top: 100px;
  left: 0px;
}

#mws_Page .TitleAside--navBar nav {
  text-align: left;
}

@media (max-width: 992px) {
#mws_Page .TitleAside--navBar {
        position: static;
        width: 100%;
    }
}


#mws_Page aside {
    border: 1px solid black;
    margin-right: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}
#mws_Page aside:last-of-type {
    margin-right: 0;
}



#mws_Page a {
    color: #000;
}

#mws_Page a:visited {
    color: #666;
}


@media (max-width: 992px) {
#mws_Page nav.Navbar li {
        font-size: 24px;
        margin-left: 20px;
    }
#mws_Page nav.Navbar ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}


#mws_Page nav.Navbar {
    padding-top: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 8; 
    
    border-bottom: 1px solid black;
}

#mws_Page nav.Navbar ul {
    max-width: 800px;
    display: flex;
    justify-content: center;
}


#mws_Page div.IndexWrapper {
    min-height: calc(100vh - 100px);
}

#mws_Page div.IndexWrapper mws-Demo {
  margin-top: 10px;
}

@media (min-height: 768px) {
#mws_Page div.IndexWrapper mws-Demo {
        margin-top: 100px;
    }
}

#mws_Page div.Tagline {
    text-align: center;
    width: 100%;
}
#mws_Page div.Tagline ul {
    max-width: 98vw;
    width: 560px;
    margin: auto;
}

#mws_Page div.Tagline ul > li {
    text-align: left;
    list-style-type: '>>   ';
}
@media (min-height: 768px) {
#mws_Page div.Tagline ul > li {
        font-size: 1.3rem;
    }
}

#mws_Page h1.Tagline-title {
    text-align: center;
    font-size: 50px;
    line-height: 1.0;
    
    font-weight: 800; 
    margin-left: 20px; 
    
    
    
    /*
    text-shadow: 0 0 1px var(--highlight-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    */
    
    color: black;
}

#mws_Page h1.Tagline-title > span {
    color: var(--highlight-color);
}

#mws_Page .Tagline-logoimg {
    height: 50px;
}
@media (min-height: 768px) {
#mws_Page .Tagline-logoimg {
        height: 100px;
        margin: 10px;
    }
}
@media (min-height: 1000px) {
#mws_Page .Tagline-logoimg {
        height: 150px;
        margin: 30px;
    }
}

#mws_Page h1.Tagline-logo {
    text-align: center;
    font-size: 200px;
    line-height: 1.0;
    
    
    text-shadow: 0 0 2px var(--highlight-color); 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: black;
    background: white;
    font-weight: 300; 
}

#mws_Page main {
    max-width: 800px;
    margin: auto;
}

#mws_Page main.give-left-padding > :not(.TitleAside) {
    margin-left: 300px;
}

#mws_Page section {
    display: flex;
}

#mws_Page aside {
    border: 1px solid black;
    margin-right: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}
#mws_Page aside:last-of-type {
    margin-right: 0;
}


#mws_Page a {
    color: #000;
}
#mws_Page a:visited {
    color: #666;
}

#mws_Page .Main p {
    margin-top: 5px;
    margin-bottom: 20px;
}

#mws_Page .Main p:last-of-type {
    margin-bottom: 0;
}

#mws_Page .Main ul li {
    list-style: disc;
    margin-left: 40px;
}

#mws_Page .Main nav:not(.TitleAside-navigation) ul li {
    list-style: none;
    margin-left: 0;
}

#mws_Page .Main .InfoBox {
    border: 1px solid var(--highlight-color);
    padding: 20px;
    display: block;
    position: relative;
    clear: both;
    font-size: 0.95rem;
}

#mws_Page .Main hr {
    border: 1px solid #888;
    width: 80%;
}

#mws_Page .Main .InfoBox > h2 {
    color: var(--highlight-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: -10px;
    letter-spacing: 1px;
}

#mws_Page .Main > h2,
#mws_Page .Main > * > h2,
#mws_Page .Main > * > * > h2 {
    
    
    width: 80%;
    
    font-weight: bold;
    font-size: 1.6rem;
}

#mws_Page .Main h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 10px;
}
#mws_Page .Main h4 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 5px;
}


#mws_Page .Main > * > h3 {
    margin-top: 40px;
}
#mws_Page .Main > * > h4 {
    margin-top: 20px;
}
#mws_Page .Main > * > mws-Demo:not(:last-child) > .demo-wrapper {
    margin-bottom: 60px;
}

#mws_Page .Main blockquote {
    max-width: 30%;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    line-height: 1.3;
    font-size: 0.98rem;
}
@media (max-width: 992px) {
#mws_Page .Main blockquote {
        max-width: none;
        float: none;
        clear: both;
    }
}

#mws_Page .Main blockquote > p {
    margin-top: 5px;
    margin-bottom: 0;
}
#mws_Page .Main blockquote > p:first-child {
    margin-top: 0;
}

#mws_Page .Main blockquote strong {
    color: var(--highlight-color);
    font-size: 1.1rem;
}

#mws_Page .Main blockquote strong:first-child::before {
    content: '%   ';
}

#mws_Page .Tutorial-tryit::before {
    content: '';
}
#mws_Page .Tutorial-tryit {
    border: 1px solid var(--highlight-color);
    padding: 20px;
    display: block;
    position: relative;
    clear: both;
}

#mws_Page .DemoPanels {
    display: flex;
}

#mws_Page .DemoPanels > li {
    display: block;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    position: relative;
}

#mws_Page .DemoPanels li a {
    text-align: center;
    font-size: 20px;
}
#mws_Page .DemoPanels li a::after {
    content: '\300B';
}

#mws_Page .DemoPanels li a:hover {
    color: var(--highlight-color);
}
#mws_Page .DemoPanels > li:hover {
    border-color: var(--highlight-color);
}

#mws_Page .DemoPanels li a::before {
    content: ' ';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (max-width: 768px) {
#mws_Page .DemoPanels {
        display: block;
    }

#mws_Page .DemoPanels > li {
        width: auto;
        height: auto;
    }
}

#mws_Page .Tutorial-tryit h4 {
    color: var(--highlight-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: -10px;
    letter-spacing: 1px;
}

#mws_Page .Main ol > li {
    list-style: decimal;
    margin-left: 40px;
}

#mws_Page .Main--withSidebar {
    display: grid;
    grid-template-columns: 350px 1fr;
}

#mws_Page .Docs-squareInfo {
    padding: 10px;
}

#mws_Page .Docs-squareInfo > h2 {
    
    padding-top: 10px;
    font-weight: bold;
}

#mws_Page .Docs-demos {
  background-image: url(/img/demosmontage.png);
  background-size: 170px 170px;
  background-position: 70px 100px;
  text-align: center;
  padding-top: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 50px 50px inset white;
}

#mws_Page .Docs-demos:hover {
  box-shadow: none;
}

#mws_Page .Docs-demos > a::before {
    content: ' ';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


#mws_Page .Docs-sideBySide {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

#mws_Page footer {
    color: #aaa;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}


@media (max-width: 992px) {
#mws_Page .Main { display: block; }
#mws_Page .Docs-sideBySide { display: block; }
}


@media (max-width: 768px) {

#mws_Page .Main--fluid {
        width: 100vw;
        padding: 1px;
    }
#mws_Page aside {
        padding: 1px;
    }

#mws_Page p,#mws_Page h1,#mws_Page h2,#mws_Page h3,#mws_Page h4,#mws_Page h5,#mws_Page h6 {
        padding: 5px;
    }
}

@media (max-width: 550px) {
#mws_Page section,#mws_Page section.SideBySide {
        display: block;
    }
}

@media (max-height: 600px) {
#mws_Page nav.Navbar {
        
        position: relative;
    }
}

#mws_Page .Navbar-tinyText {
    display: none;
}

@media (max-width: 550px) {
    
#mws_Page .Navbar-rightInfo {
        display: none;
    }
#mws_Page .Navbar-logo {
        display: none;
    }

#mws_Page .Navbar-tinyText {
        display: block;
        position: absolute;
        top: -1px;
        padding: 2px;
        text-align: center;
        background: #eee;
        width: 100%;
    }
}

@media (max-width: 992px) {
#mws_Page nav.Navbar li {
        font-size: 24px;
        margin-left: 20px;
    }
#mws_Page nav.Navbar ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

#mws_Page div.Tagline {
        padding: 5px;
    }
#mws_Page nav.Navbar .Navbar-rightInfo {
        padding: 2px;
        margin-left: 10px;
    }

}


mws-DevLogNav nav {
    min-height: 100px;
    padding: 20px;
    clear: both;
    display: block;
    margin: 10px;
    margin-left: -110px;
    margin-right: -110px;
    display: flex;
    border: 1px dotted #888;
}

mws-DevLogNav ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

mws-DevLogNav h4 {
    font-weight: bold;
    border-right: 1px dotted #888;
    color: #888;
    margin-right: 10px;
    max-width: 50px;
}


mws-DevLogNav h1 {
    font-weight: bold;
    text-align: center;
    border: 1px dotted #888;
    margin-top: -1px;
    padding: 10px;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
mws-DevLogNav nav {
        margin: 10px;
    }
}
@media (max-width: 768px) {
mws-DevLogNav ul {
        grid-auto-flow: row;
        grid-template-columns: 1fr;

    }
}

mws-DocSidebar li {
    margin-left: 50px;
}
/*
mws-DocSidebar li.ginactive > ul::before,
mws-DocSidebar li.gactive > ul::before {
    content: ' - ';
    background: var(--highlight-color);
    color: white;
    text-decoration: none;
}
*/
mws-DocSidebar li.ginactive > a::before {
    content: '+ ';
}


mws-Demo .demo-wrapper.demo-wrapper__minipreview .CodeMirror {
    height: 200px;
}

mws-Demo .demo-wrapper.demo-wrapper__clipboard .CodeMirror {
    height: auto;
}

mws-Demo .demo-wrapper.demo-wrapper__clipboard .CodeMirror * {
    font-family: monospace;
    font-size: 1rem;
}

mws-Demo .demo-wrapper.demo-wrapper__minipreview .CodeMirror * {
    font-family: monospace;
    font-size: 14px;
}

mws-Demo .demo-wrapper.demo-wrapper__fullscreen .CodeMirror {
    height: 87vh;
}
mws-Demo .demo-wrapper.demo-wrapper__fullscreen .CodeMirror * {
    font-family: monospace;
    font-size: 16px;
}

mws-Demo .CodeMirror span.cm-string-2 {
    color: black !important;
}

mws-Demo .demo-wrapper {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100vw;
}

mws-Demo .Main--fluid  .demo-wrapper.demo-wrapper__minipreview   {
    
    max-width: 900px;
}
mws-Demo .Main--fluid  .demo-wrapper.demo-wrapper__minipreview.demo-wrapper__fullscreen  {
    
    max-width: 100vw;
}

mws-Demo .demo-wrapper.demo-wrapper__fullscreen {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    background: white;
}


mws-Demo .demo-wrapper__notabs .editor-minipreview {
    margin-top: 40px;
    margin-left: 5px;
    border: 1px solid #999;
    height: 160px;
}

mws-Demo .demo-wrapper__fullscreen.demo-wrapper__notabs .editor-minipreview {
    margin-top: 65px;
}

mws-Demo .editor-toolbar {
    position: absolute;
    z-index: 3;
    display: flex;
    width: auto;
    
    right: 30px;
    top: 0;
    height: 35px;
    padding: 2px;
    border: #ddd 1px solid;
}



mws-Demo .demo-wrapper__fullscreen .editor-toolbar {
    height: 60px;
    padding: 10px;
}


mws-Demo .demo-wrapper__minipreview  .editor-wrapper {
    width: 78%;
    border: 1px solid black;
}
mws-Demo .Main--fluid  .demo-wrapper__minipreview  .editor-wrapper {
}

mws-Demo .demo-wrapper.demo-wrapper__clipboard .editor-wrapper {
    border: 1px dotted #ddd;
    width: 100%;
}

mws-Demo .demo-wrapper__minipreview.demo-wrapper__fullscreen .editor-wrapper {
    border: 5px solid black;
    border-radius: 1px 8px 1px 8px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

mws-Demo .editor-minipreview {
    border: 1px solid black;
    border-radius: 1px;
    background: #eee;
    padding: 5px;
    border-left: none;
    width: 200px;
    height: 202px;
    overflow-y: auto;
    position: relative;
    z-index: 7; 
}
mws-Demo .editor-minipreview > div > * > input {
  max-width: 175px;
}

mws-Demo .demo-wrapper__fullscreen .editor-minipreview {
    width: 30vw;
    height: auto;
    border: 1px solid black;
    margin: 20px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 1px 8px 1px 8px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

mws-Demo .side-by-side-panes {
    display: flex;
    justify-content: space-between;
}

mws-Demo .TabNav {
    
    width: 100%;
}


mws-Demo .TabNav > ul {
    width: 100%;
    display: flex;
}

mws-Demo .TabNav-title {
    border: 2px solid black;
    border-top-width: 4px;
    
    margin-bottom: -2px;
    border-radius: 8px 8px 0 0;
    background: white;
    min-width: 50px;
    box-shadow: 0 0 0 0 var(--highlight-color);
    transition: box-shadow 0.3s,
                border-color 0.2s;
}

mws-Demo .TabNav-title a,
mws-Demo .TabNav-title a:visited,
mws-Demo .TabNav-title a:active {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
}

mws-Demo .TabNav-title:hover {
    border-color: var(--highlight-color);
}

mws-Demo .TabNav-title--selected {
    border-color: var(--highlight-color);
    background: var(--highlight-color) !important; 
    box-shadow: 0 0 0 8px var(--highlight-color);
    border-radius: 8px 8px 8px 8px;
}
mws-Demo .TabNav-title--selected a {
    color: white !important; 
}

mws-Demo .Demo-toast {
    position: fixed;
    z-index: 400;
    top: 100px;
    right: 10px;
    border: 4px solid black;
    border-radius: 10px;
    background: white;
    width: 400px;
    max-width: 99vw;
    box-shadow: 5px 5px 0 0 black,
                0 0 20px 20px white;
    overflow: auto;
}

mws-Demo .Demo-toast > * {
    margin: 20px;
}
mws-Demo .Demo-toast li {
    list-style-type: decimal;
    margin-left: 50px;
}

mws-Demo .Demo-toastButton {
    position: fixed;
    top: 110px;
    right: 20px;
    border: 1px solid black;
    border-radius: 2px;
    background: white;
    box-shadow: 2px 2px 0 0 black;
    padding: 5px;
    text-decoration: none;
}

mws-Demo .Demo-toastButton:hover {
    background-color: var(--highlight-color);
    color: white;
}

@media (max-width: 992px) {
mws-Demo .TabNav > ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
mws-Demo .TabNav-title {
        padding: 7px;
    }
mws-Demo .demo-wrapper {
        --side-width: 130px;
    }
mws-Demo .demo-fs-button {
        display: none;
    }


mws-Demo .demo-wrapper.demo-wrapper__tabs {
        display: grid;
        grid-template-columns: var(--side-width) 1fr;
    }
    

mws-Demo .demo-wrapper.demo-wrapper__tabs > :nth-child(1) {
        grid-row: 1 / span 2;
    }
mws-Demo .demo-wrapper.demo-wrapper__tabs > :nth-child(2) {
        position: absolute;
        top: 121px;
        right: -18px;
        background: white;
        border-color: black;
    }
mws-Demo .demo-wrapper.demo-wrapper__tabs > :nth-child(3) {
        grid-column: 2;
        grid-row: 1;
    }
mws-Demo .demo-wrapper.demo-wrapper__tabs .TabNav-title {
        border: 1px solid black;
        border-radius: 1px;
        background: white;
        width: var(--side-width);
        padding: 6px;
    }

mws-Demo .demo-wrapper.demo-wrapper__tabs  .side-by-side-panes {
        display: grid;
        grid-template-rows: 200px 1fr;
    }
mws-Demo .demo-wrapper.demo-wrapper__tabs  .side-by-side-panes > :nth-child(1) {
        grid-row: 2;
        width: auto;
        max-width: calc(100vw - var(--side-width) - 2px);
    }
mws-Demo .demo-wrapper.demo-wrapper__tabs  .side-by-side-panes > :nth-child(2) {
        grid-row: 1;
        width: auto;
        max-width: calc(100vw - var(--side-width) - 2px);
    }
    /*
mws-Demo .TabNav-title--selected {
        box-shadow: 0 0 0 0 var(--highlight-color);
        box-shadow: none;
    }
    */
 
    /*
mws-Demo .TabNav-title--selected a {
        color: var(--highlight-color) !important;
    }
    */
}



@media (max-width: 768px) {
mws-Demo .demo-wrapper.demo-wrapper__fullscreen {
        position: relative;
        display: block;
        width: 100vw;
        height: auto;
        z-index: 1;
    }
}


@media (max-width: 768px) {
mws-Demo .editor-toolbar {
        position: static;
        padding: 10px;
        margin: 20px;
        height: 60px;
        font-size: 1.1rem;
    }
mws-Demo .demo-wrapper__fullscreen .editor-toolbar {
        margin: 5px;
        height: 60px;
        padding: 5px;
        display: flex;
        justify-content: flex-end;
    }
}


@media (max-width: 768px) {
mws-Demo .side-by-side-panes {
        display: block;
    }
mws-Demo .editor-toolbar {
        z-index: 8;
    }
}

@media (max-width: 768px) {
mws-Demo .editor-minipreview {
        width: 100%;
    }
mws-Demo .demo-wrapper__fullscreen .editor-minipreview {
        width: 90%;
    }
}


@media (min-width: 768px) {
mws-Demo .demo-wrapper__minipreview.demo-wrapper__fullscreen .editor-wrapper {
        height: auto;
        width: 70vw;
        min-height: 87vh;
    }
}


@media (max-width: 768px) {
mws-Demo .editor-wrapper {
        width: 100%;
        border: 1px solid black;
    }
mws-Demo .demo-wrapper__fullscreen .editor-wrapper {
        width: 100%;
    }
}


mws-AllExamples {
    --colcount: 5;
    display: grid;
    grid-template-columns: repeat(var(--colcount), 1fr);
}
mws-AllExamples > .Example {
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    min-height: 200px;
    background: #ddd;
    position: relative;
    margin-top: 50px;
}
mws-AllExamples .Example-wrapper {
    height: 200px;
    overflow-y: auto;
}

mws-AllExamples > .Example.expanded {
    background: transparent;
    grid-column: 1 / span var(--colcount);
}

mws-AllExamples > .Example .tool-button {
    position: absolute;
    top: -30px;
    height: 30px;
    right: 0px;
    min-width: 80px;
    border-radius: 10px 10px 0 0;
    
    background: #ddd;
}
mws-AllExamples > .Example .tool-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 1550px) {
mws-AllExamples {
        --colcount: 4;
    }
}
@media (max-width: 1250px) {
mws-AllExamples {
        --colcount: 3;
    }
}

@media (max-width: 1160px) {
mws-AllExamples {
        --colcount: 2;
    }
}

@media (max-width: 550px) {
mws-AllExamples {
        --colcount: 1;
    }
}



mws-Section {
            position: relative;
        }
mws-Section h2 {
            font-weight: bold;
            color: var(--highlight-color);
            margin-bottom: 0;
        }
mws-Section a.secanchor {
            padding-top: 100px;
            color: var(--highlight-color);
            opacity: 0.3;
            display: block;
        }
mws-Section:hover .Section-helper {
            opacity: 1.0;
        }
    

docseg-Templating_PrepareCallback input { display: inline; width: 25px }


docseg-Templating_Escaping .msgcontent {
        background: #999;
        padding: 10px;
        margin: 10px;
    }



docseg-Tutorial_P1 strong {
    color: blue;
}
docseg-Tutorial_P1 .neat {
    font-variant: small-caps;
}
docseg-Tutorial_P1 { 
    display: inline-block;
    background-color: cornsilk;
    padding: 5px;
    box-shadow: 10px 10px 0 0 turquoise;
}


docseg-Tutorial_P3_state_demo {
        font-size: 0.8rem;
    }


eg-Simple em { color: darkgreen; }
eg-Simple * { text-decoration: underline; }


eg-DateNumberPicker {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
    }
eg-DateNumberPicker div {
        float: right;
    }
eg-DateNumberPicker label {
        display: block;
        width: 100%;
    }


eg-PrimeSieve .grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    color: #ccc;
    font-weight: bold;
    width: 100%;
    margin: -5px;
}
eg-PrimeSieve .grid > div {
    border: 1px solid #ccc;
    cursor: crosshair;
    transition: 0.2s;
}
eg-PrimeSieve div.whole {
    color: white;
    background: #B90183;
}
eg-PrimeSieve div.hidden {
    background: #ccc;
    color: #ccc;
}


eg-PrimeSieve div.number { background: green; }
eg-PrimeSieve div.number::after { content: "*"; }
/* Check for whole factors (an adjacent div.whole).
eg-PrimeSieve If found, then hide asterisk and green */
eg-PrimeSieve div.whole ~ div.number { background: #B90183; }
eg-PrimeSieve div.whole ~ div.number::after { opacity: 0; }


eg-Scatter {
      position: relative;
      display: block;
      --size: 101px;
      width: var(--size);
      height: var(--size);
      background-size: 10px 10px;
      background-image: linear-gradient(to right,
          rgba(100, 100, 100,.3) 1px, transparent 1px),
        linear-gradient(to bottom,
          rgba(100, 100, 100,.3) 1px, transparent 1px);
  }
eg-Scatter div {
      position: absolute;
      top: calc(var(--y) / 1.5 + var(--size) / 2 + 5px);
      left: calc(var(--x) / 4.0 + var(--size) / 2 + 5px);
      height: 10px;
      width: 10px;
      border-radius: 10px;
      border: 1px solid #B90183;
      background: rgba(255, 255, 255, 0.0);
  }
eg-Scatter div:hover {
      background: #B90183;
  }
eg-Scatter label {
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      height: 0;
      font-size: 11px;
  }
eg-Scatter div:hover + label {
      opacity: 1;
  }


eg-OscillatingGraph input {
        width: 50px;
    }


eg-SearchBox input {
        width: 100%;
    }
eg-SearchBox .results-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
eg-SearchBox .results-container > img { margin-top 30px; }
eg-SearchBox .results {
        position: absolute;
        height: 0;
        width: 0;
        overflow: hidden;
        display: block;
        border: 2px solid #B90183;
        border-radius: 0 0 20px 20px;
        transition: height 0.2s;
        z-index: 20;
        background: white;
    }
eg-SearchBox .results.visible {
        height: 200px;
        width: 200px;
    }
eg-SearchBox .result {
        padding: 10px;
        width: 80px;
        position: relative;
    }
eg-SearchBox .result label {
        position: absolute;
        width: 80px;
        background: rgba(255, 255, 255, 0.5);
        font-size: 0.7rem;
        top: 0;
        left: 0;
    }


eg-WorldMap {
      position: relative;
      display: block;
      width: 160px;
      height: 80px;
      border: 1px solid gray;
      background-size: 160px 85px;
      background-image: url('https://i.imgur.com/jsOnZz0.png');
  }
eg-WorldMap div {
      position: absolute;
      height: 7px;
      width: 7px;
      border-radius: 5px;
      background: #B90183;
  }
eg-WorldMap div > x-DemoModal {
      opacity: 0;
      z-index: 50;
  }
eg-WorldMap div:hover > x-DemoModal{
      opacity: 1.0;
  }
eg-WorldMap .modal-eg-WorldMap {
      height: 400px;
      overflow: auto;
  }
eg-WorldMap dt {
      font-weight: 800;
  }
eg-WorldMap dd {
      max-width: 300px;
      overflow: auto;
      font-family: monospace;
  }


eg-Memory h3 {
    background: #B90183;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
}
eg-Memory .board {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    width: 100%;
    height: 150px;
    width: 150px;
}
eg-Memory .board.hard {
    grid-gap: 1px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
}
eg-Memory .board > .card {
    background: #B90183;
    border: 2px solid black;
    border-radius: 1px;
    cursor: pointer;
    text-align: center;
    min-height: 15px;
    transition: background 0.3s, transform 0.3s;
    transform: scaleX(-1);
    padding-top: 2px;
    color: #B90183;
}
eg-Memory .board.hard > .card {
    border: none !important;
    padding: 0;
}
eg-Memory .board > .card.flipped {
    background: #FFFFFF;
    border: 2px solid #B90183;
    transform: scaleX(1);
}

@keyframes flipping {
from { transform: scaleX(-1.1); background: #B90183; }
to {   transform: scaleX(1.0);  background: #FFFFFF; }
}


eg-ConwayGameOfLife {
        display: flex;
    }
eg-ConwayGameOfLife .grid {
        display: grid;
        grid-template-columns: repeat(24, 5px);
        margin: -2px;
        grid-gap: 1px;
    }
eg-ConwayGameOfLife .grid > div {
        background: white;
        width: 5px;
        height: 5px;
    }
eg-ConwayGameOfLife input,eg-ConwayGameOfLife button {
        width: 40px;
    }

