<script Configuration -src="https://unpkg.com/ace-builds">
    modulo.register('util', function getEditor(elem) {
        ace.config.set('basePath', 'https://unpkg.com/ace-builds/src-min-noconflict');
        return ace.edit(elem);
    });
</script>

<Library
    -src="/demos/editor/widgetslib.html"
></Library>

<Component name="ModuloEditor">
    <Template>
        <div class="ModuloEditor layout--{{ state.layout }} theme--{{ state.colorScheme }}">
            <x-EditorSidebar></x-EditorSidebar>
            <x-FileEditor
                content="print('hello world')"
                name="example.py"
                mode="python"
            ></x-FileEditor>
        </div>
    </Template>

    <State
        -store="editor_options"
        layout="center"
        color-scheme="l-mintygoo"
        profile="syntax"
        font-size:=18
        syntax-mode="text"
        theme="eclipse"
        theme-dark="vibrant_ink"
        theme-light="eclipse"
    ></State>

    <State
        -store="editor_data"
    ></State>

    <Style
        -src="/demos/editor/editorlib/ModuloEditor.css"
    ></Style>
</Component>

<Component name="FileBrowser">
    <Template
        -src="/demos/editor/editorlib/FileBrowser.html"
    ></Template>

    <State
        files:=[]
        all-files:=[]
        chroot
    ></State>

    <Script
        -src="/demos/editor/editorlib/FileBrowser.js"
    ></Script>

    <Style
        -src="/demos/editor/editorlib/FileBrowser.css"
    ></Style>
</Component>

<Component name="Btn">
    <Style
        -src="/demos/editor/editorlib/Btn.css"
    ></Style>
</Component>

<Component name="EditorSidebar">
    <Template
        -src="/demos/editor/editorlib/EditorSidebar.html"
    ></Template>
    <State
        visible:=false
        tab:=null
        tabs:=[]
        boxes:=[]
    ></State>
    <Script
        -src="/demos/editor/editorlib/EditorSidebar.js"
    ></Script>
    <Style
        -src="/demos/editor/editorlib/EditorSidebar.css"
    ></Style>
</Component>

<Component name="FileEditor" rerender="manual">
    <Props
        content
        url
        name
        path
        mode
    ></Props>

    <Template
        -src="/demos/editor/editorlib/FileEditor.html"
    ></Template>

    <State
        content=""
        loading:=false
        err:=null
    ></State>

    <State
        -name="datastate"
        -store="editor_data"
        text=""
    ></State>

    <State
        -name="optstate"
        -store="editor_options"
    ></State>

    <Script
        lifecycle="initialized"
        -src="/demos/editor/editorlib/FileEditor.js"
    ></Script>
    <Style
        -src="/demos/editor/editorlib/FileEditor.css"
    ></Style>
</Component>

<Component name="FileEditorSettings">
    <Props
        onchange
    ></Props>
    <Template>
        <h3>Syntax highlighting</h3>
        <x-Options [state.bind] name="syntaxMode"
            options:=staticdata.modes.options
        ></x-Options>
        <h3>Appearance</h3>
        <x-Options [state.bind] name="fontSize"
            options:=staticdata.editorFontSizes
        ></x-Options>
        <h4>Themes: Light</h4>
        <x-Options [state.bind] name="themeLight"
            options:=staticdata.editorThemesLight
        ></x-Options>
        <h4>Themes: Dark</h4>
        <x-Options [state.bind] name="themeDark"
            options:=staticdata.editorThemesDark
        ></x-Options>
    </Template>
    <State
        -store="editor_options"
    ></State>
    <StaticData
        -src="/demos/editor/editorlib/options.js"
    ></StaticData>
</Component>

<Component name="Options">
    <Props
        options
        onchange
        value
    ></Props>
    <Template>
        {% for opt in props.options %}
            <div style="position: relative">
                {% if state.value == opt.name %}
                    <div class="right-square"></div>
                {% endif %}
                <x-Btn
                    @click:=formhelper.setValue
                    payload="{{ opt.name }}"
                    style="position: relative"
                >{{ opt.label|default:opt.name|capfirst }}</x-Btn>
            </div>
        {% endfor %}
    </Template>
    <State
        value=""
    ></State>
    <Script
        -name="formhelper"
        -src="/demos/editor/editorlib/formHelper.js"
    ></Script>
    <Style>
        .right-square {
            position: absolute;
            right: 10px;
            top: -3px;
            z-index: 0;
            height: calc(100% + 6px);
            width: 80px;
            background: var(--m-highlight);
        }
    </Style>
</Component>


<Component name="LayoutSettings">
    <Template>
        <h3>Theme</h3>
        <x-Options [state.bind] name="colorScheme"
            options:=staticdata.colorSchemes
        ></x-Options>
        <h3>Layout</h3>
        <x-Options [state.bind] name="layout"
            value="{{ state.layout }}"
            options:=staticdata.layouts
        ></x-Options>
    </Template>
    <State
        -store="editor_options"
    ></State>
    <StaticData
        -src="/demos/editor/editorlib/options.js"
    ></StaticData>
</Component>

