:host {
    display: block;
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.message-placeholder,
.message-placeholder-instructions,
.expand-button {
    display: block;
    position: absolute;
    top: 10px;
}

.message-placeholder,
.message-placeholder-instructions {
    font-style: italic;
    color: rgba(127, 127, 127, 0.9);
}

.message-placeholder-instructions {
    right: 50px;
}
.message-placeholder {
    left: 10px; /* placeholder is left aligned */
}

.toolbar-right {
    box-sizing: border-box;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(127, 127, 127, 0.25);
    height: 100%;
    padding-top: 40px;
}

.toolbar-scrolling-button-collection {
    height: calc(100% - 50px);
    overflow: auto;
}

.toolbar-scrolling-button-collection > button {
    margin: 4px;
    display: block;
    width: calc(100% - 8px);
}

.btn-symbol,
.btn-label {
    text-align: center;
}
.btn-symbol {
    font-size: 30px;
}
.btn-label {
    font-size: 10px;
}

.send-button {
    border-bottom-right-radius: 10px;
}

.expand-button {
    right: 10px;
}
