.ModuloEditor {
    --editor-width: 750px;
    display: grid;
    height: calc(100vh - 20px);
    box-sizing: border-box;
    grid-gap: 15px;
    grid-template-columns: 1fr var(--editor-width) 1fr;
}

.ModuloEditor.layout--wide {
    --editor-width: calc(100vw - 500px);
    grid-gap: 0;
}

.ModuloEditor.layout--full {
    display: block;
    margin-left: -11px;
    margin-top: -3px;
    margin-right: 13px;
}

.ModuloEditor.layout--full .menu-button-holder > x-Btn {
    margin-top: -10px;
    margin-bottom: -70px;
    font-size: 16px;
    text-shadow: none;
    line-height: 25px;
    height: 70px;
    width: 50px;
    border-radius: 0;
    background: white;
    box-shadow: none;
}


.ModuloEditor * {
    box-sizing: border-box;
}


@media (max-width: 992px) {
    .ModuloEditor {
        display: block;
    }

    .menu-button-holder > x-Btn {
        margin-top: -10px;
        margin-bottom: -70px;
        font-size: 16px;
        text-shadow: none;
        line-height: 25px;
        height: 70px;
        width: 50px;
        border-radius: 0;
        background: white;
        box-shadow: none;
    }
}
